#loginPassBox {
    -fx-padding: 40;
    -fx-font-size: 14pt;
}

#registerLink {
    -fx-font-size: 10pt;
    -fx-text-fill: rgb(80,20,0);
}

#registerLink:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

#serviceMessage {
    -fx-fill: rgb(130,0,20);
}

#messageHeader {
    -fx-fill: rgb(140,80,60);
}

.text-field {
    -fx-font-size: 13pt;
    -fx-border-width: 2px;
}

.tableView {
    -fx-font-size: 12pt;
    -fx-pref-width: 600;
    -fx-pref-height: 800;
}

.tableColumnFileName {
    -fx-pref-width: 400;
}

.tableColumnFileSize {
    -fx-pref-width: 200;
}

.buttonsPane {
    -fx-padding: 0 0 0 10;
}

.buttonsPane .button {
    -fx-font-size: 14pt;
    -fx-pref-width: 200;
}

.button {
    -fx-font-size: 14pt;
}

TextFlow {
    -fx-font-size: 10pt;
}

.filesPane {
    -fx-padding: 10;
}

.logScrollPane {
    -fx-pref-height: 60;
    -fx-padding: 6;
}

